{{#each this}}
<li class="gallery_item">
  <div class="photo-card">
    <a  href="{{largeImageURL}}">
        <img class="gallery_img" src="{{webformatURL}}" alt="{{tags}}" title={{tags}}loading="lazy" />
    </a>  
  <div class="info">
    <p class="info-item">
      <b class="icons">Likes</b>
      {{likes}}
    </p>
    <p class="info-item">
      <b class="icons">Views</b>
      {{views}}
    </p>
    <p class="info-item">
      <b class="icons">Comments</b>
      {{comments}}
    </p>
    <p class="info-item">
      <b class="icons">Downloads</b>
      {{downloads}}
    </p>
  </div>
</div>
</li>
{{/each}}